@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: transparent;
  font-family: 'Inter', sans-serif;
  overflow: hidden; /* App එක ඇතුළේ Scroll වෙන්න දෙන්න එපා */
}

/* Custom Scrollbar for Logs */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #0d1117;
}
::-webkit-scrollbar-thumb {
  background: #1f2937;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #374151;
}